[2020-01-29 22:42] tlienart opened #2 "Bring rest of necessary functions/stumps from MLJBase"
* predict, transform, fit stubs
* int and UnivariateFinite need a dummy implementation depending on Mode

[2020-01-31 18:26] #2 closed, assigned to tlienart

[2020-01-31 18:26] tlienart opened #4 "Add basic readme + badges"

[2020-02-05 20:02] ablaom opened #7 "New doc-string for `select`"
I'm assuming this indeed reflects the latest behaviour:

"""
    select(X, r, c)

Select element(s) of a table or matrix at row(s) `r` and column(s)
`c`. An object of the sink type of `X` (or a matrix) is returned
unless `c` is a single integer or symbol. In that case a vector is
returned, unless `r` is a single integer, in which case a single
elemenent is returned.

See also: [`selectrows`](@ref)

[2020-02-05 21:32] #4 closed, assigned to tlienart

[2020-02-05 22:19] #7 closed, assigned to tlienart

[2020-02-09 03:03] DilumAluthge opened #10 "Remove the need to be a subtype of `MLJModelInterface.Model`"
If I understand correctly, right now, if you have a type and you want it to implement the MLJ model interface, your type needs to be a subtype of `MLJModelInterface.Model` (either a direct subtype of `MLJModelInterface.Model`, or a subtype of one of `MLJModelInterface.Model`'s subtypes, etc.).

However, suppose my type is already a subtype of something else, such as `MyOwnAbstractType`. Now life i

[2020-02-09 09:51] tlienart commented on #10
Well there's a bunch of despatching that happens based on the type in particular Deterministic/Probabilistic, changing this would  be a major refactoring as far as I know...

Possible ways around are to:

- have your abstract type subtype one of the model types
- have other types specific for the interface (e.g. what I did in MLJLinearModels)

[2020-02-09 10:58] juliohm commented on #10
I fully agree with this. Despite the major refactoring of code involved, I think the whole MLJ ecosystem would improve. The main challenge nowadays is the fact that the language doesn't provide sugar syntax to assert traits directly at compile time, and so we need to rewrite things manually.

[2020-02-09 11:35] tlienart commented on #10
Let’s imagine we went down that road, how would you encourage/enforce for instance that models are only containers for hyper parameters? Devs may want to have their own struct which contains the learned parameter, I’m not saying that’s what you’re doing but such devs would then want to allow this; my point is that inevitably there’s a point where we have to enforce some structure on our side and r

[2020-02-09 15:46] juliohm commented on #10
The view of models as containers of hyperparameters is great, and I follow it strictly when coding new models. I don't know, however, if it is a requirement since the `fit/predict` workflow still works no matter where the learned parameters are saved. Perhaps allowing general structure is a positive thing, but certainly users and devs could be informed in the documentation about the benefits of on

[2020-02-11 14:06] tlienart opened #12 "Add a `categorical` stub"
Useful for clustering models.

[2020-02-11 14:36] #12 closed, assigned to tlienart

[2020-02-14 09:41] tlienart opened #15 "For next patch release"
next merge  [dev] -> [master]

* [x] whitespace fixes (#14)

* [x] add `save` and `restore` stubs to enable custom serialisation

[2020-02-18 00:05] ablaom opened #17 "Revert: rm target_scitype for Unsupervised models"
The recent addition of `target_scitype` appears to break MLJModels but was added in a patch release. Will revert and release new patch, postponing the addition to next minor release.

[2020-02-18 00:11] ablaom opened #19 "Let all supervised and unsupervised models share all traits"
Having a slightly different list of traits for supervised and unsupervised traits has led to case distinctions. I propose we have just one list, setting default values to `Unknown`, or `nothing` or `false` and so forth,  when they don't apply.

This would  **break** MLJModels.

[2020-02-18 00:35] ablaom commented on #17
#18 takes this up again

[2020-02-18 00:35] #17 closed, assigned to nobody

[2020-02-18 17:46] tlienart opened #20 "Implementing interfaces: towards a standardised approach"
cc: @ablaom

While helping Yaqub & co with their interface and also thinking about  #10, I realised that, currently, the way we suggest users write an interface is maybe not ideal. Unfortunately the examples we have are somewhat flawed:

* `EvoTrees` keeps their type and just extends `fit/predict`, author was happy to tightly integrate with MLJ, and have all models subtype MLJ types, this should n

[2020-02-22 23:40] ablaom opened #21 "Wrong (old) MLJBase version loading when testing an interface"
I'm running into the following problem when testing a package furnishing a new interface (using `import MLJModelInteface`. In tests, the pkg manager is forcing me to use an old version of MLJBase.

The remedy is to make Tables.jl a dependency of my package (it is not actually needed by my package *or* any of its dependencies, ie does not appear in the manifest.toml) *and* include `[compat] Tables

[2020-02-26 21:24] ablaom commented on #20
@tlienart Thanks indeed for these comments. I think it's a super ideas to have a complete working implementation of the API by a third party DummyModels package. And I do not have any objections to the format you suggest, although:

- I am inclined nowadays to implement model traits manually. The convenience methods using `eval` to automate this are actually more work to maintain and represent "hi

[2020-02-28 00:31] ablaom commented on #21
Resolved by recent Tables updates

[2020-02-28 00:31] #21 closed, assigned to nobody

[2020-03-04 10:00] timholy opened #23 "mlj_model macro creates methods with bad line number info"
I am not certain whether this is a Julia bug or something you need to fix here, but I think it's probably something you need to fix here. In any case I thought I should report it. I detected it in https://github.com/timholy/Revise.jl/issues/439 (CC @ablaom), as the error comes from inside [this conditional block](https://github.com/timholy/Revise.jl/blob/01ce17d293cbb551ad70746a65e274c41df00be9/sr

[2020-03-04 22:23] ablaom commented on #23
Many thanks for the expert feedback.

[2020-03-04 23:53] timholy commented on #23
If you don't know about this already, see https://docs.julialang.org/en/latest/devdocs/meta/#

[2020-03-05 21:20] ablaom commented on #19
This would also allow `models(condition)` to be more friendly, so that `models(m->m.target_scitype==...)` just works, instead of complaining the `target_scitype` key does not exist.

[2020-03-10 02:23] ablaom opened #24 "For next minor release (breaking)"
To be merged onto `early-march` branch:

- [x] Bring in `is_same_except` and similar gizmos from MLJBase;  see https://github.com/alan-turing-institute/MLJBase.jl/issues/178

- [x] Let all models share same traits (#19, https://github.com/alan-turing-institute/MLJBase.jl/issues/163)

- [x] Add `save` and `restore` stubs for serialisation

[2020-03-11 03:21] #15 closed, assigned to nobody

[2020-03-11 03:21] #24 closed, assigned to nobody

[2020-03-11 03:22] #19 closed, assigned to nobody

[2020-03-11 20:45] ablaom opened #28 "Bring in `istransparent` trait from MLJBase"
See the first two lines of MLJBase/src/parameter_inspection.jl.

Probably makes sense to bring the whole file over, and export/import the method `params`.  It's only 8 lines of code.

[2020-03-27 00:37] ablaom commented on #10
Closing, as too ambitious at present.

[2020-03-27 00:37] #10 closed, assigned to nobody

[2020-03-27 00:40] ablaom opened #30 "For 0.2.1 release"
Merge onto dev:

- [x] Add `isrepresentedby` method (PR #29 )

[2020-03-30 22:15] ablaom opened #33 "For 0.3.0 release"
- [x] #28

[2020-04-10 08:32] PyDataBlog opened #34 "Pre-compilation (WARNING: Method definition) warnings after adding MLJ macro interface to package"
**Describe the bug**

After adding the recommended interface Julia file using the macro (https://alan-turing-institute.github.io/MLJ.jl/dev/quick_start_guide_to_adding_models/#Model-type-and-constructor-1) which is needed to connect the package to the specified MLJ models interface, a pre-compilation warning now has shown up.

**To Reproduce**

To recreate simply clone the experimental branch of t

[2020-04-10 08:42] tlienart commented on #34
Hello,

I've encountered this issue before. We need to dig a bit into why exactly it happens and how to fix it cleanly but in the mean time you can do one of the following:

1. "easy" one, don't use `@mlj_model` for now, use for instance Parameters like in https://github.com/alan-turing-institute/MLJLinearModels.jl/blob/master/src/mlj/classifiers.jl and add a `clean!` method to test that arguments

[2020-04-10 09:29] PyDataBlog commented on #34
@tlienart  We will go with the first option then. Hopefully, this issue is fixed later for the convenience of the macro style. Maybe the docs can include a warning about the experimental nature of the macro declarations?

[2020-04-10 09:35] tlienart commented on #34
Thanks, the thing is that we already use `@mlj_model` macro extensively within MLJModel itself so we know it works and is robust; the issue is caused bc of *when* the stuff is evaluated which makes the compiler not happy (but effectively what is supposed to happen, happens).

Anyway in the issue I linked to the idea was to basically drop suggesting `@mlj_model` for now for external packages (so th

[2020-04-10 09:36] #34 closed, assigned to nobody

[2020-04-23 02:46] #30 closed, assigned to ablaom

[2020-04-23 02:47] ablaom opened #36 "For 0.3.0 release"
To be merged onto dev *after* last 0.2.x release:

- [x] PR #35

[2020-04-27 22:12] #33 closed, assigned to nobody

[2020-06-05 03:27] #28 closed, assigned to nobody

[2020-06-05 03:27] #36 closed, assigned to nobody

[2020-06-05 03:28] ablaom opened #52 "0.3.0 release"
@JuliaRegistrator register()

[2020-06-05 03:28] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/15878](https://github.com/JuliaRegistries/General/pull/15878)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-06-19 04:55] jeremiedb opened #53 "Fix axis ordering in UnivariateFinite example"
In docs, it seems like the axis order in the doc as been reversed: https://github.com/alan-turing-institute/MLJModelInterface.jl/blob/a064ba36cd5474a88e09a907401e8d891301462e/src/data_utils.jl#L393

The provided example fails:

[code]

While the adjusted example with observation being a row works:
[code]

[2020-07-24 14:36] OkonSamuel opened #57 "issue to tag a new release"
@JuliaRegistrator register

[2020-07-24 14:36] JuliaRegistrator commented on #57
Registration pull request created: [JuliaRegistries/General/18393](https://github.com/JuliaRegistries/General/pull/18393)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-07-24 16:50] #57 closed, assigned to nobody

[2020-07-26 21:50] #52 closed, assigned to nobody

[2020-07-26 21:54] ablaom commented on #53
Yes, indeed. The docs are wrong. Good catch, thanks!

[2020-07-26 21:56] #53 closed, assigned to OkonSamuel

[2020-07-26 21:56] ablaom commented on #53
Done already
@OkonSamuel

[2020-07-26 21:59] ablaom opened #60 "Issue to trigger new release"
@JuliaRegistrator register

[2020-07-26 21:59] JuliaRegistrator commented on #60
Error while trying to register: "Tag with name `v0.3.1` already exists and points to a different commit"

[2020-07-26 21:59] OkonSamuel commented on #34
The issue with `@mlj_model` macro has been solved in the latest release.

[2020-07-26 22:04] ablaom commented on #60
@JuliaRegistrator register

[2020-07-26 22:04] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/18482](https://github.com/JuliaRegistries/General/pull/18482)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-07-27 06:22] tlienart commented on #34
Wonderful!! Thanks sam!

[2020-08-18 23:08] ablaom commented on #60
@JuliaRegistrator register

[2020-08-18 23:08] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/19754](https://github.com/JuliaRegistries/General/pull/19754)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-08-24 21:55] ablaom commented on #60
@JuliaRegistrator register

[2020-08-24 21:55] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/20125](https://github.com/JuliaRegistries/General/pull/20125)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-08-25 06:14] ablaom commented on #60
@JuliaRegistrator register

[2020-08-25 06:14] JuliaRegistrator commented on #60
Error while trying to register: "Tag with name `v0.3.4` already exists and points to a different commit"

[2020-08-25 21:50] ablaom commented on #60
@JuliaRegistrator register

[2020-08-25 21:50] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/20196](https://github.com/JuliaRegistries/General/pull/20196)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-08-30 00:44] DilumAluthge opened #69 "Roadmap to 1.0?"
There are only two packages that are required in order to implement the MLJ interface: ScientificTypes.jl and MLJModelInterface.jl.

We now have a 1.0 release of ScientificTypes.jl. 🎉

Would it be feasible to make a 1.0 release of MLJModelInterface?

[2020-08-30 00:45] DilumAluthge commented on #69
There are several experimental APIs, but I think it is fine to make breaking changes to an experimental API in a non-breaking release.

See my comment here: https://github.com/alan-turing-institute/MLJ.jl/pull/648#issuecomment-683360181

[2020-08-30 03:04] DilumAluthge opened #70 "Supervised models: `fit` methods with the signature `fit(model, verbosity, data)`?"
There are multiple statistics packages in the Julia ecosystem that expect the features and the labels to be provided in a single table. Examples include (but are not limited to) [GLM.jl](https://github.com/JuliaStats/GLM.jl) and [Econometrics.jl](https://github.com/Nosferican/Econometrics.jl).

Would it make sense to support `fit` methods with the signature `fit(model, verbosity, data)`?

[2020-08-30 03:37] DilumAluthge commented on #70
I've done some digging, and I think that this would be too breaking of a change.

[2020-08-30 03:37] #70 closed, assigned to nobody

[2020-08-30 04:28] DilumAluthge commented on #70
To elaborate, if a package requires the input data to be a single table, here is what you can do.

Step 1: add a field to your model to store the name of the label:
[code]

Step 2: define the `_merge_X_and_y` method in your package, as follows:
[code]

Step 3: at the beginning of your `fit` method, call the `_merge_X_and_y` method as follows:
[code]

[2020-10-14 23:19] ablaom commented on #60
@JuliaRegistrator register

[2020-10-14 23:20] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/22970](https://github.com/JuliaRegistries/General/pull/22970)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-10-19 18:46] ablaom opened #73 "Add keyword aliases for key-word args in metadata_model and meta_data package"
So one can use the exact corresponding trait name. So, instead of

[code]

one can instead do

[code]

And then use these in all documentation.

The difference between kwarg names and trait names has been source of confusion and delays getting implementations correct.

[2020-12-18 11:48] ven-k opened #77 "selectrows() doesn't work with AbstractDict"
When `class_w` is passed to a machine during construction, it eventually throws an error on evaluation. (Holds true for any `fit...` function)

[code]

On first pass, I believe its because `selectrow()` in `data_utils.jl` doesn't support `AbstractDict`s yet.

I can work on it, if it's to be added.

[2021-01-04 04:02] ablaom commented on #60
@JuliaRegistrator register

[2021-01-04 04:02] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/27276](https://github.com/JuliaRegistries/General/pull/27276)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-01-04 04:48] JuliaTagBot opened #79 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-01-04 04:48] #79 closed, assigned to nobody

[2021-01-13 22:59] ablaom commented on #77
Ah yes, we have essentially been assuming all the `args` in `fit(model, verbosity, args...)` are objects to be subsampled, but in the class weights case this is not so.

One solution would be to have a fallback for `selectrows` that just returns the object unsampled. But this might mean objects *not* meant to be sampled, but which appear to be iterable (any table, matrix or vector) would get sampl

[2021-01-13 23:21] #73 closed, assigned to nobody

[2021-01-13 23:34] ablaom commented on #60
@JuliaRegistrator register

[2021-01-13 23:34] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/27933](https://github.com/JuliaRegistries/General/pull/27933)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-01-25 19:49] ablaom commented on #60
@JuliaRegistrator

[2021-01-25 19:49] JuliaRegistrator commented on #60
An unexpected error occurred during registration.

[2021-01-25 19:49] ablaom commented on #60
@JuliaRegistrator register

[2021-01-25 19:49] JuliaRegistrator commented on #60
An unexpected error occurred during registration.

[2021-01-25 19:50] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/28639](https://github.com/JuliaRegistries/General/pull/28639)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-01-25 22:29] ablaom commented on #77
The new data front-end also provides the possibility of overriding any (most?) unexpected behaviour with option 1. So let's go for that.

[2021-01-25 22:29] #77 closed, assigned to nobody

[2021-01-25 22:57] ablaom commented on #69
Yeah, I think once https://github.com/alan-turing-institute/MLJModels.jl/issues/355 is sorted, we could move to 1.0.

[2021-01-25 22:58] ablaom commented on #60
@JuliaRegistrator register

[2021-01-25 22:58] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/28659](https://github.com/JuliaRegistries/General/pull/28659)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-02-26 21:57] ablaom opened #89 "It seems some macros in metadata_utils cause issues if an MLJ interface is wrapped in module"
https://github.com/alan-turing-institute/MLJ.jl/issues/744#issuecomment-786746319

See also this comment: "A quirk of submodules and evaluation scopes makes it necessary to load this submodule in the package __init__ function" from #20

[2021-03-15 04:24] ablaom commented on #60
@JuliaRegistrator register

release notes:

- [x] Add support for iterative models (#91, https://github.com/alan-turing-institute/MLJ.jl/issues/139)

[2021-03-15 04:24] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/31979](https://github.com/JuliaRegistries/General/pull/31979)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-03-16 00:07] jeremiedb opened #93 "Handling of accelerator / device in model interface"
Is there a preferred way to instruct MLJ to request an algorithm to be run on CPU vs GPU?

I noticed the section pertaining to `acceleration` in https://alan-turing-institute.github.io/MLJ.jl/dev/, however I'm not sure if such is compatible in cases where a model cannot directly sent to the gpu such as with Flux model `m = m |> gpu`.

More specifically, as I'm reworking the GPU acceleration of Evo

[2021-04-13 00:30] DilumAluthge commented on #69
Bump @ablaom @tlienart

[2021-04-13 04:49] #69 closed, assigned to nobody

[2021-04-13 04:51] ablaom commented on #60
@JuliaRegistrator register

release notes:

- Extend compatibility requirement for StatisticalTraits to include v1.0.

[2021-04-13 04:51] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/34159](https://github.com/JuliaRegistries/General/pull/34159)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-05-15 00:08] ablaom commented on #60
@JuliaRegistrator register

release notes:

- [x] Make `==` for MLJType objects property-based instead of field-based (#97)

[2021-05-15 00:08] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/36761](https://github.com/JuliaRegistries/General/pull/36761)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-06-28 05:42] ablaom commented on #60
@JuliaRegistrator register branch=master

[2021-06-28 05:42] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/39753](https://github.com/JuliaRegistries/General/pull/39753)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-07-19 04:59] ablaom commented on #93
@jeremiedb Very sorry, I seemed to have missed this one!

Let me say what is done in MLJFlux, and you tell me if this answers your question.

In MLJFlux each model (in the sense of MLJ, not in the sense of Flux) has a hyperparameter called `acceleration` (not `accelerator`). If this is set to `CUDALibs()` (from ComputationalResources.jl) then data and the Flux model (chain) is moved onto the GPU f

[2021-07-20 04:24] ablaom opened #104 "Document the API requirement to use `acceleration` field for parallelisation"
Values of `acceleration` being `ComputationalResources.AbstractResource` objects.

#93

[2021-07-20 04:25] ablaom commented on #93
Closing in favour of #104. Feel free to continue discussion below.;

[2021-07-20 04:25] #93 closed, assigned to nobody

[2021-07-21 06:06] ablaom commented on #20
I think the newly created template repo [MLJExampleInterface.jl](https://github.com/JuliaAI/MLJExampleInterface.jl) addresses at least the gist of the issue raised here.

[2021-07-21 06:06] #20 closed, assigned to nobody

[2021-08-02 01:14] ablaom commented on #60
@JuliaRegistrator register branch=master

[2021-08-02 01:14] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/41973](https://github.com/JuliaRegistries/General/pull/41973)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-08-11 06:22] ablaom commented on #60
@JuliaRegistrator register branch=master

[2021-08-11 06:22] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/42585](https://github.com/JuliaRegistries/General/pull/42585)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-08-17 02:47] ablaom commented on #60
@JuliaRegistrator register branch=master

release notes:

- [x] Add fallbacks for new traits defined at https://github.com/JuliaAI/StatisticalTraits.jl/pull/18 (#109)

[2021-08-17 02:48] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/43006](https://github.com/JuliaRegistries/General/pull/43006)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-09-06 00:35] ablaom commented on #60
@JuliaRegistrator register branch = master

[2021-09-06 00:35] JuliaRegistrator commented on #60
Error while trying to register: "Tag with name `v1.2.0` already exists and points to a different commit"

[2021-09-06 02:04] #60 closed, assigned to nobody

[2021-09-06 02:05] ablaom commented on #60
@JuliaRegistrator register branch=master

release notes:

- [x] (**enhancement**) Add support for outlier detection (#113)

[2021-09-06 02:05] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/44273](https://github.com/JuliaRegistries/General/pull/44273)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-09-06 02:06] ablaom commented on #60
cc @davnn

[2021-09-07 03:28] #104 closed, assigned to nobody

[2021-09-16 20:47] ablaom opened #115 "MLJType objects with "strap-on" properties can change without detection by =="
[code]

[2021-09-17 00:03] #115 closed, assigned to ablaom

[2021-09-17 00:05] ablaom commented on #60
@JuliaRegistrator register branch=master

release notes:

- [x] (**bug fix**) Fix unexpected behaviour of `==` for MLJTypes objects with "strap-on" properties (#115)

[2021-09-17 00:05] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/45047](https://github.com/JuliaRegistries/General/pull/45047)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-09-20 20:03] ablaom commented on #60
@JuliaRegistrator register branch=master

[2021-09-20 20:03] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/45245](https://github.com/JuliaRegistries/General/pull/45245)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-09-20 20:03] ablaom commented on #60
cc @davnn

[2021-10-02 15:10] juliohm opened #120 "Model type hierarchy doesn't scale"
We could be doing much better if instead of a type hierarchy we had a set of trait functions for `isprobabilistic` `issupervised` like I do in GeoStatsBase.jl Currently we have Unsupervised models that are Probabilistic like `GMMClusterer` and yet we can't place them in the type hierarchy.

Any plans to refactor this types into a set of trait functions in the long-term?

[2021-10-02 15:20] juliohm commented on #120
Reference to trait-based approach: https://github.com/JuliaEarth/GeoStatsBase.jl/blob/d5a4bdc0ee676b1077a4fbff929cfc6e272e8088/src/learning/traits.jl#L18-L32

[2021-10-03 21:11] ablaom commented on #120
@juliohm Thanks for these observations.

Not really, as this would be a huge refactor.

However, there is already a trait (shared by models and metrics) called `prediction_type` which can have value `:deterministic`, `:probabilistic`, `:interval` or `:unknown`.  (Do `info(model)` to get a list of all the traits of a model.)
Naturally, for `Probabilistic`, `Deterministic` and `Interval` subtypes of

[2021-10-03 21:12] DilumAluthge commented on #120
See also https://github.com/JuliaAI/MLJModelInterface.jl/issues/10 for a previous discussion.

[2021-10-17 21:09] ablaom commented on #60
@JuliaRegistrator register branch=master

release notes:

- Tweak `fit` and trait fallbacks for `Annotator` models (#121)  @davnn

[2021-10-17 21:09] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/46927](https://github.com/JuliaRegistries/General/pull/46927)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-11-24 02:14] ablaom opened #124 "Don't export `UnivariateFinite`."
The fact that this is exported is necessitating a hack in MLJBase/src/MLJBase.jl to enable UnivariateFinite code to be replaced with CategoricalDistributions.jl as a dependency.

And remove the doc-string as a duplication of one now provided at CategoricalDistributions?

[2021-11-24 02:37] ablaom opened #125 "Remove `export augmented_transform` and `export info`"
These methods are not implemented here or part of the public API.

[2021-12-23 02:37] #125 closed, assigned to nobody

[2021-12-23 02:54] ablaom commented on #60
@JuliaRegistrator register branch=master

release notes:

- Bump the compatibility requirements of `ScientificTypesBase` to `^3`, making necessary adjustments (#126) @OkonSamuel

[2021-12-23 02:54] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/51090](https://github.com/JuliaRegistries/General/pull/51090)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-01-01 19:20] ablaom opened #129 "MLJModelInterface no longer exporting `scitype`"
As this is a breaking change and I don't see a reason for it, I would call this a bug. It appears to be responsible for https://github.com/ablaom/MLJTutorial.jl/issues/24 .

[2022-01-03 17:03] OkonSamuel commented on #124
@ablaom I won't suggest removing the doc-string though, since developers relying on the lightweight `MLJModelInterface` may not also want to depend on the heavier `MLJBase/CategoricalDistributions`. They may still want to query the docstring for `UnivariateFinite` object.

[2022-01-03 17:27] OkonSamuel opened #131 "Don't export `scitype` method."
Due to a recent change in `ScientificTypesBase,jl` from version 2.0 to 3.0, the `ScientifictypesBase.scitype` method is now a two argument method. Packages depending on `MLJModelInterface.jl` previously depended on the previous one argument version defined in version 2.0 series of `ScientifictypesBase` package.
A workaround is needed to avoid making `MLJModelInterface` breaking for its's users. Th

[2022-01-03 20:11] ablaom opened #132 "Perhaps MLJModelInteface should not export any method in the future"
This has got us into trouble before: #131 #124

[2022-01-03 20:58] #129 closed, assigned to nobody

[2022-01-03 21:17] ablaom commented on #60
@JuliaRegistrator register branch=master

[2022-01-03 21:17] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/51607](https://github.com/JuliaRegistries/General/pull/51607)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-01-04 01:31] ablaom commented on #132
Or, at least it should not export any "dummy" method that gets re-defined by MLJBase.

[2022-01-21 02:25] ablaom opened #136 "Migrate serialization `save` and `restore` fallbacks from MLJBase/src/interface/model_api"

[2022-01-28 06:10] ablaom commented on #60
@JuliaRegistrator register branch=master

[2022-01-28 06:10] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/53351](https://github.com/JuliaRegistries/General/pull/53351)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-02-28 23:14] ablaom commented on #60
@JuliaRegistrator register branch=master

Release notes:

- (**ehancement**) Add utility `doc_header` for generating a standard header for MLJ model document strings
- (**future proofing**) Ensure `metadata_model` utility does not override fallback behaviour of model traits
- (**enhancement**) Add `human_name` as a model trait with fallback provided by StatisticalTraits.jl  (eg, "XGBoostRegressor"

[2022-02-28 23:14] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/55673](https://github.com/JuliaRegistries/General/pull/55673)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-03-03 07:22] ablaom commented on #60
@JuliaRegistrator register branch=master

[2022-03-03 07:22] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/55868](https://github.com/JuliaRegistries/General/pull/55868)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-03-07 04:59] ablaom commented on #60
@JuliaRegistrator register branch=master

[2022-03-07 04:59] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/56106](https://github.com/JuliaRegistries/General/pull/56106)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-06-02 11:08] rikhuijzer opened #146 "Applying a transformation to `train` but not `test`"
Apologies if this has been asked before, but I was wondering whether it is possible for me to use SMOTE via [Resample.jl](https://github.com/rikhuijzer/resample.jl) in such a way that evaluations occur on the `test` set and not on the `train` set. More specifically, can I use `MLJ.evaluate` in such a way that SMOTE is applied before training the model, but **not** before testing the model. Current

[2022-06-02 23:10] ablaom commented on #146
Perhaps I misunderstand the question but perhaps my [suggestion](https://github.com/alan-turing-institute/MLJ.jl/issues/661#issue-705225473) addresses your query. In the mode wrapper  I propose, the oversampling is only performed "internally" for the sake of training.

[2022-06-03 12:32] rikhuijzer commented on #146
Ah yes. I forgot that there was an example there. Thanks! Trying to implement it in `Resample.jl` now

[2022-06-03 12:32] #146 closed, assigned to nobody

[2022-06-03 21:21] ablaom commented on #146
If you are making a general purpose wrapper, change the `@node f(X)` calls to `node(f, X)` and wrap your learning network in a fit method ([Method II](https://alan-turing-institute.github.io/MLJ.jl/dev/composing_models/#Method-II:-Finer-control-(advanced)) in the manual).

[2022-06-17 03:35] ablaom commented on #60
@JuliaRegistrator register branch=master

[2022-06-17 03:35] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/62490](https://github.com/JuliaRegistries/General/pull/62490)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-07-06 01:29] ablaom commented on #60
@JuliaRegistrator register branch=master

[2022-07-06 01:29] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/63731](https://github.com/JuliaRegistries/General/pull/63731)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-07-06 20:13] ablaom opened #153 "Do we really need a `training_losses` fallback?"
We already have `supports_training_losses`. It also seems that documentation does not require the fallback, but this should be checked.

[2022-07-07 22:32] ablaom commented on #60
@JuliaRegistrator register branch=master

Release notes:

- (**enhancement**) Add support for feature importances (#148) @OkonSamuel

[2022-07-07 22:32] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/63840](https://github.com/JuliaRegistries/General/pull/63840)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-07-08 05:04] ablaom commented on #60
@JuliaRegistrator register branch=master

[2022-07-08 05:04] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/63851](https://github.com/JuliaRegistries/General/pull/63851)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-07-11 00:39] ablaom opened #157 "The fallback of `fit(::Static, ...)` should return `(nothing, nothing, NamedTuple())`"
Currently returns `(nothing, nothing, nothing)` but reports should be named tuples.

[2022-07-14 07:04] ablaom commented on #60
@JuliaRegistrator register branch=master

Release notes:

- (**enhancement**) Add `reporting_operations`, from StatisticalTraits.jl,  to the list of model traits (#158)

[2022-07-14 07:04] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/64218](https://github.com/JuliaRegistries/General/pull/64218)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-09-14 23:06] ExpandingMan opened #162 "invalid model parameters should either error or keep user arguments"
I noticed today that if a model constructor fails parameter validation it reverts to the default with a warning.

I find this behavior confusing.  Normally invalid constructors lead to an error.  Alternatively, I can imagine getting frustrated if an overzealous maintainer improperly restricted a parameter range, in which case the thing to do would be to allow the user-provided argument with an err

[2022-09-16 05:57] ablaom commented on #162
This makes sense. As far as changing the behaviour of the `@mlj_model` macro, that will have to wait for the next breaking release, which won't be for a while.

[2022-10-05 00:01] ablaom commented on #60
@JuliaRegistrator register branch=master

Release notes:

- Add a new model method `report(::Model, report_given_method)` for combining the reports generated by a model's `fit` method, with reports generated by operations, such as `predict`. Here `report_given_method` is a dictionary of reports, keyed on methods as symbols (`:fit`, `:predict`, `:transform`, and so forth) (#160; in support of https

[2022-10-05 00:02] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/69541](https://github.com/JuliaRegistries/General/pull/69541)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-10-25 14:11] sylvaticus opened #164 "Should `MLJModelInterface.metadata_pkg()` go in `__init__` or not ?"
In [BetaML](https://github.com/sylvaticus/BetaML.jl) I have, for reasons I can't recall (most probably just because I have copied it from some other package),  the `MLJModelInterface.metadata_pkg()` function inside the `__init__` function, but this seems to create [some problems](https://github.com/sylvaticus/BetaML.jl/issues/42).

Is it safe to just remove the MLJ model registration from `__init_

[2022-10-25 23:37] ablaom commented on #164
Perhaps @tlienart would like to comment. I can't think of a reason to have that in `__init__` and generally `eval` in `__init__` is a bad idea. Most MLJ implementations do not put this in `__init__`.

[2022-10-26 09:36] tlienart commented on #164
on the top of my head I can't think of a reason either. Looking at https://github.com/JuliaAI/MLJScikitLearnInterface.jl/blob/dev/src/MLJScikitLearnInterface.jl there is an `init` but it's to import sklearn, looking at https://github.com/JuliaAI/MLJDecisionTreeInterface.jl/blob/dev/src/MLJDecisionTreeInterface.jl there is a `metadata_pkg` in the module but no init.

The latter (DecisionTree) can p

[2022-10-26 10:21] #164 closed, assigned to nobody

[2022-11-02 19:17] ablaom commented on #60
@JuliaRegistrator register branch=master

[2022-11-02 19:17] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/71513](https://github.com/JuliaRegistries/General/pull/71513)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-11-25 01:17] ablaom commented on #60
@JuliaRegistrator register branch=master

Release notes:

- Add `ProbabilisticSet <: Supervised` model type (#167)
- Add `augment` keyword option to `doc_header` (#168)

[2022-11-25 01:18] JuliaRegistrator commented on #60
Registration pull request created: [JuliaRegistries/General/72858](https://github.com/JuliaRegistries/General/pull/72858)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can